body{margin:0;font-family:Arial;background:#0f172a;color:white}
header{text-align:center;padding:15px;background:#1e293b;font-size:1.5em;}
nav{display:flex;flex-wrap:wrap;justify-content:center;background:#0ea5e9}
nav button{margin:4px;padding:8px;border:none;border-radius:8px;cursor:pointer;}
section{display:none;padding:15px}
.ativo{display:block}
.card{background:#1e293b;margin:8px 0;padding:10px;border-radius:8px;}
input,select{width:95%;padding:8px;margin:5px 0;border-radius:6px;border:none;}
button{cursor:pointer;}